body {
  background-color: lightgray;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.carousel-item .img-fluid {
  width: 100%;
  height: 100%;
}
.carousel-item img {
  object-fit: contain;
  object-position: center;
}
@media (max-width: 575.98px) {
  .container {
    margin: auto !important;
    padding: 1.5rem !important;
    padding-bottom: 0px !important;
  }
  .mobile-padding {
    padding: 0px !important;
    margin: auto !important;
  }
  #mobile-para {
    margin-bottom: 0rem !important;
  }
  .mobile-row {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  .mobile-row img {
    width: 30px;
    height: 30px;
  }
  .mobile-row h4 {
    font-size: small;
    padding-left: 5px;
  }
  #profile-picture {
    width: 100%;
  }
  .icon-grid {
    padding-bottom: 10px !important;
  }
  h2 {
    margin-bottom: 0px !important;
  }
  .carousel-item img {
    height: 40vh !important;
  }
}
